body {
  background: #565e5e;
}
.genre-name {
  color:  #bfc1c7
}
.home-img{
  width: 25vw;
}
.adminContainer{
  display:flex;
}
.adminPanel {
  background: purple;
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 3em;
  padding: 1em;
}

/* 
black #343c44
lght gray #bfc1c7
lght blue #15a2b9
med gray #7e8187
dk gray #565e5e

1D112C
*/