body {
  background: #565e5e;
 
}
.genre-name {
  color:  #bfc1c7
}
.home-img{
  width: 50vw;
  border-radius: 20px;


}

.adminContainer{
  display: flex;
  justify-content: center;
}
.adminPanel {
  background: #bfc1c7;
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 1.53em;
  padding: 1em;
  height: 80vh;
  overflow-y: scroll;
  
}

.caroselContainer{
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.heroContainer {
  display: flex;
  align-content: center;
  width: 30vw;
  position: absolute;
  left: -1vw;

}

/* 
black #343c44
lght gray #bfc1c7
lght blue #15a2b9
med gray #7e8187
dk gray #565e5e

1D112C
*/